.score-viz {
    position: absolute;
    width: 70%;
    left: 5%;
    right: 5%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #eee;
    border: 2px solid grey;
    margin: 10% 10%;
}


.acme-score {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background: navy;
    padding: 20px;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.score-label {
    font-size: 40px;
    margin-bottom: 10px;
}

.user-score {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}